.ml-5, .mx-5 {
    margin-left: 4rem!important;
}

.calculadora {
    margin-left: 25px;
    position: relative;
    padding: 1em 0;
    width: 350px;
    box-shadow: 8px 11px 32px -3px #111;
    font-family: 'Oxygen';
}

.calc-row {
    text-align: center;
}

.calc-row div.screen {
    height: 70px;
    font-family: 'Droid Sans Mono';
    display: table;
    width: 85%;
    text-align: right;
    font-size: 2em;
    min-height: 1.2em;
    margin-left: 25px;
    padding-right: 0.5em;
    border: 1px solid #888;
    color: #333;
}

.calc-row div {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #eee;
    padding: 10px 0;
    margin: 7px 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px #222;
    width: 50px;
}

.calc-row div.zero {
    width: 112px;
}

.calc-row div.zero {
    margin-right: 5px;
}